/* Necessário para não haver rolagens horizontais quando movermos os elementos */
html,
body {
    overflow-x: hidden;
}

.sidebar header {
    background-color: #fff;
    padding: 30px;
    overflow: hidden;
    position: relative;
}

.sidebar .menu-anchor {
    width: 40px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
}

.sidebar .menu-anchor:before {
    content: "";
    display: block;
    margin: 7px auto;
    width: 70%;
    height: 0.25em;
    background: #2184c2;
    box-shadow: 0 .45em 0 0 #2184c2, 0 .9em 0 0 #2184c2;
    border-radius: 20px;
}

.menu-active .menu-anchor {
    background: #fff;
}

.sidebar menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 220px;
    height: 100%;
    padding-top: 10px;
    background: #2184c2;
    box-shadow: inset -5px -10px 10px 0 rgba(133, 133, 133, 0.3);
    -webkit-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    transform: translateX(-220px);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
    font: 100% arial, verdana, tahoma, sans-serif;
}

.sidebar menu li a {
    display: block;
    margin: 0 10px;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
}

.sidebar menu li a:hover {
    background: #003f66;
    color: #2184c2;
}

.sidebar header, .responseMenu {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}

/* Com a classe menu-active na tag HTML */
.menu-active menu {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.menu-active header,
.menu-active .responseMenu {
    -webkit-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -ms-transform: translateX(220px);
    transform: translateX(220px);
}